.user-show-content {
  display: flex;
  justify-content: space-evenly;
}

.user-profile {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.user-profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.lightgreen_link {
  background-color: $light-green;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.lightpink_link {
  background-color: $light-pink;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.profile_link_txt {
  text-decoration: none;
  color: $dark-green;
  font-weight: 600;
  font-size: 15px;
  padding: 0px;
  align-items: center;
}

.profile_link_txt:hover {
  text-decoration: underline;
}

.profile_link_arrow {
  color: $dark-green;
  font-size: 20px;
  align-items: center;
  padding: 0px;
  margin: 0px
}
