.card-booking {
  overflow: hidden;

  background: white;
  border-radius: 15px;
  box-shadow: 0 0 5px $grey;
  border: 1px solid $light-grey;

  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}

// div qui contient l'image en background
.card-booking-img {
  width: 250px;
  background-position: center;
  background-size: cover;
}

.card-booking-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.card-booking-content-top {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 15px;
  p{
    font-size: 15px;
  }
}

.card-booking-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  h2 {
    color: $dark-green;
  }
}

.card-booking-content-1-user {
  display: flex;
  justify-content: left;
  padding: 0;
  margin-bottom: 15px;

  .card-content-art-picture {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

  p{
    margin: 0px;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}


.card-booking-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  .line-info {
    justify-content: right;
  }

  .content-2-status {
    font-weight: 600;
    color: $dark-green;
  }
}

#darkgreenbtn-booking {
    background-color: $dark-green; /* Couleur de fond bleue */
    color: $light-pink; /* Couleur du texte */
    text-decoration: none;
    text-align: center;
    border: none; /* Pas de bordure */
    margin-right: 30px;
    padding: 10px 20px; /* Espacement interne du bouton */
    border-radius: 30px; /* Coins arrondis */
    font-size: 16px; /* Taille de police */
    font-family: barlow;
    display: block;
    width: 170px;

    &:hover {
      text-decoration: underline;
    }
}
