.lightgreenbtn {
  background-color: $light-green; /* Couleur de fond bleue */
  color: $dark-green; /* Couleur du texte */
  text-decoration: none;
  border: none; /* Pas de bordure */
  margin-right: 30px;
  padding: 10px 20px; /* Espacement interne du bouton */
  border-radius: 30px; /* Coins arrondis */
  font-size: 16px; /* Taille de police */
  font-family: barlow;
}
