.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
  display: flex;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  justify-content: flex-end
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
