.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
  display: flex;
  height: 50px;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  display: flex;
  align-items: center;
  width: 80px;
}

.nav-item.dropdown {
width: 30px;
height: 30px;
object-fit: cover;
border-radius: 50%;
}

