// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer.scss";

// Sélectionne le container principal des pages (ne comprend ni la navbar, ni le footer)
.main-container {

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 35px;
  font-family: $body-font;

  h1 {
    color: $dark-green;
    font-size: 30px;
    font-weight: 600;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1 0 auto;
}

.content-wrap {
  // padding-bottom: 20px;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #1a4944;
  color: #adff50;
  padding: 10px;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}

.fixed-header{
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white
}

// Pour sélectionner le body de n'importe quelle view
// Example: view index(action name) de arts(controller name)
// .arts.index {
//   }
