// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer.scss";

.darkgreenbtn {
  background-color: #1a4441; /* Couleur de fond bleue */
  color: #ffe7dc; /* Couleur du texte */
  text-decoration: none;
  border: none; /* Pas de bordure */
  margin-right: 30px;
  padding: 10px 20px; /* Espacement interne du bouton */
  border-radius: 30px; /* Coins arrondis */
  font-size: 16px; /* Taille de police */
  font-family: barlow;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1 0 auto;
  padding-bottom: 60px;
}

.content-wrap {
  padding-bottom: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1a4944;
  color: #adff50;
  padding: 10px;
  text-align: center;
  height: 60px;
  justify-content: space-between;
}

.fixed-header{
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white
}
